* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}

main {
  width: 592px;
  margin: 0 auto 72px;
  
}

main img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span {
 color: #FF9900;
}

p {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}

p + p { 
  margin-top: 40px;
}

footer {
  width: 568px;
  border-top: 1px solid #ECEFF2;
  margin: auto;
}

footer a + a {
 margin-left: 28px;
}

a {
  text-decoration: none;
  color: #FF9900;
  font-size: 14px;
  line-height: 28px;
}

body > img {
  position: absolute;
  bottom: 0;
  right: 0;
}